<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/luxonauta/luxa@1.1/dist/expanded/luxa.css"
    />
  </head>
  <body>
    
    <main class="has-dflex-center">
      <section>
    <h1>Create your DevCard</h1>
    <form action="/" method="POST" class="lx-card" >
      <div class="form-group">
        <input  name="fullname" type="fullname" class="form-control" id="fullname" placeholder="Your Full Name">
      </div>
      <div class="form-group">
        <textarea name="about" type="about" class="form-control" id="about" placeholder="About Me"  rows="4" cols="25"></textarea>
      </div>
      <div class="form-group">
        <label for="technologies">Technologies you know</label>
        <div></div>
        <ul class="has-dflex" style="list-style: none;">
          <li><input type="checkbox"> HTML</li>
          <li><input type="checkbox"> JS</li>
          <li><input type="checkbox"> React</li>
          <li><input type="checkbox"> CSS</li>
          <li><input type="checkbox"> Git</li>
          <li><input type="checkbox"> Node.js</li>
        </ul>
      </div>
      <div class="form-group">
        <input  name="github" type="github" class="form-control" id="github" placeholder="Github URL">
      </div>
      <div class="form-group">
        <input  name="twitter" type="twitter" class="form-control" id="twitter" placeholder="Twitter URL">
      </div>
      <div class="form-group">
        <input  name="books" type="books" class="form-control" id="books" placeholder="Favourite Books (Separate by Comma)">
      </div>
      <div class="form-group">
        <input  name="artists" type="artists" class="form-control" id="artists" placeholder="Favourite Artists (Separate by Comma)">
      </div>

      <button type="submit" >Submit</button>
    <br/>      <br/>
    </form>
      </section>
    </main>
  </body>
</html>
